[submodule "glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "openal-soft"]
	path = third_party/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "deps-zlib-libpng"]
	path = third_party/deps-zlib-libpng
	url = https://github.com/awstanley/deps-zlib-libpng.git
[submodule "Boxer"]
	path = third_party/Boxer
	url = https://github.com/aaronmjacobs/Boxer.git
[submodule "tinydir"]
	path = third_party/tinydir
	url = https://github.com/cxong/tinydir.git
[submodule "cglm"]
	path = third_party/cglm
	url = https://github.com/recp/cglm.git
[submodule "fast_obj"]
	path = third_party/fast_obj
	url = https://github.com/thisistherk/fast_obj.git
[submodule "freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype.git
